.post{
    max-height: 20em;
    width: 70%;
    overflow: hidden;
    border: 1px solid lightsteelblue;
    margin: 1em;
}
.post__name{
    font-weight: bold;
    margin-left: 8px;
    align-self: center;
}
.post__head{
    display: flex;
    border-bottom: 1px solid lightsteelblue;
}
.post__img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: lightsteelblue 1px solid;
}
.post__text{
    grid-column-start: 2;
}
.post__content{
    display: grid;
    grid-template-columns: 1fr 10fr;
    min-height: 4em;
}