.messages {
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: center;
    border-radius: 0 2em 0 0;
    overflow: hidden;
    justify-self: center;
    z-index: 1;
    width: 70%;
    position: absolute;
}

.messages__content {
    display: flex;
    width: 100%;
}

