.content{
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 22em;
  color: white;
}

.header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  background: #1B2030 url("http://paperlief.com/images/california-palm-trees-tumblr-background-wallpaper-2.jpg") no-repeat fixed top center;
  background-size: cover;
  animation: grow 60s linear 10ms infinite;
  transition: all 0.2s ease-in-out;
  z-index: -2
}

.header a {
  color: #eee
}

.info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  top: -60px;
}
.info h1{
  justify-self: center;
  align-self: center;
  font-size: 4em;
  font-weight: 700;
}
.info h4 {
  font-size: 1em;
  font-weight: normal;
  justify-self: center;
  align-self: center;
}
.avatar{
  width: 7em;
  height: 7em;
  border-radius: 50%;
  align-self: center;
  position: relative;
  top: -60px;
  overflow: hidden;
}
.avatar img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes grow {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
}

