.messages__header{
  width: 100%;
  min-height: 3em;
  display: flex;
  background-color: #242424;
}
.messages__search{
  display: flex;
  width: 30%;
  justify-content: flex-start;
}
.messages__search input{
  height: 70%;
  width: 80%;
  align-self: center;
  border-radius: 4px;
}