.header{
    grid-area: h;
    height: 50px;
    z-index: 2;
    position: absolute;
    display: flex;
    align-content: center;
    top: 0;
    width: 100%;
}
.header__img{
    height: 60%;
    width: auto;
    margin: 0 1em;
    align-self: center;
}
.header__search{
    align-self: center;
    height: 2.6em;
    width: 40em;
    border-radius: 4px;
    border: none;
    background-color:rgba(255,255,255, 0.2);
    color: white;
    padding-left: 3em;
}
.header__btn{

    padding: 1em;
    height: 2.6em;
    align-self: center;
    display: flex;
    margin-right: 0.6em;
    border-radius: 4px;
    border: none;
    background-color:rgba(255,255,255, 0.2);

}
.header__buttons{
    display:flex;
    margin-left: auto;
}
