.message {
    border-radius: 20px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.7em;
    max-width: 70%;
    min-width: 4em;
    min-height: min-content;
    margin: 0.5em;
}
.message__name{
    font-weight: bold;
}

.message.from {
    align-self: flex-start;
    box-shadow:
            inset 0 0 10px #fff,
            inset 2px 0 5px #f0f,
            inset -2px 0 5px #0ff,
            inset 2px 0 5px #f0f,
            inset -2px 0 5px #0ff,
            0 0 10px #fff,
            -2px 0 5px #ff00ff,
            2px 0 5px #0ff;
}

.message.to {
    align-self: flex-end;
    box-shadow:
            inset 0 0 10px #fff,
            inset 2px 0 5px #0f0,
            inset -2px 0 5px #C2FF00,
            inset 2px 0 5px #0f0,
            inset -2px 0 5px #C2FF00,
            0 0 10px #fff,
            -2px 0 5px #0f0,
            2px 0 5px #C2FF00;
}

.message__text {

}

.message__time {
    font-size: 0.72em;
    font-weight: lighter;
    opacity: 0.6;
    justify-self: flex-end;
    align-self: flex-end;
}