* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: black;
}

button:focus,
input:focus{
    outline: none !important;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 200vh;
    z-index: -2;
}


